google==3.0.0
google-ai-generativelanguage==0.6.5
google-api-core==2.19.2
google-api-python-client==2.143.0
google-auth==2.34.0
google-genai==1.32.0
google-generativeai==0.7.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
langchain==0.3.0
langchain-core==0.3.79
langchain-google-genai==2.0.0
langgraph==0.6.10
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
numpy==1.26.2
pydantic==2.8.2
pydantic_core==2.20.1
requests==2.32.3
streamlit==1.41.1